
.register {
  background-image: url('../img/bg6.jpg');
  width: 100%;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}



.navbar-toggler-icon {
    color: #FFA500;
    background-color: #FFA500;
}
/* change the brand and text color */
.navbar .navbar-brand,
.navbar .navbar-text {
    color: #000;
}
#colorText{
  color: #FFA500;
}

.resizedTextBox{
  width: 500px;
  height: 53.7px;
  font-size: 25px;
}
/* change the background color */
.navbar {
    background-color: #fff;
}

.jumbotron {
    background-image: url("../img/bg7.jpg");
    margin-bottom: 0;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10px;
    width: 100%;
}

#space {
  margin-top: 20%;
  margin-left: 25%;
}


.clear {
  clear: both;
}
.input-group-addon.postcode {
    color: rgb(255, 255, 255);
    background-color: #FFA500;
    border-color: #FFA500;
}
.logo{
  width: 200px;
  height: 50px;
}

.btn.btn-primary{
  background:#FFA500;
  border-color: #FFA500;
}
.btn.btn-primary {
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 1px;
    width:10%;    //Specify your width here
}
#exploreSpace {
  padding-top: 30px;
  padding-bottom: 30px;
}
::-webkit-scrollbar {
    display: none;
}

#h3pic {
  margin-top: 30px;
  margin-bottom: 20px;
}

#howWork {
  margin-top: 30px;
  margin-bottom: -10px;
  color: #000;
  font-weight:bold;
  text-align: center;
}

.register {
  background-color: #2c3e50;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#register{
  margin-left: -60px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.btn.btn-outline-success{
  margin-left: -40px;
  margin-bottom: 50px;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 1px;
  width:40%;    //Specify your width here
}

.pic img{
  width: 110%;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: -5%;
}



/* Start of Modal */

.modal-content {
  min-height: 350px;
  width: 400px;
  margin-top: 20%;
}


.cont_tabs_login {
  margin-top: 30px;
position: relative;
  width: 90%;
}

.cont_text_inputs{
  margin-top: 10%;
  margin-left: 0%;
}
.input_form_sign {
  display: block;
}
.ul_tabs{
  margin-left: 100px;
}


.ul_tabs > li {
position: relative;
  float: left;
  width: 50%;
  list-style: none;
  text-align: center;
}

.ul_tabs > li > a {
  color: #999999;
}


  .ul_tabs > .active > a  {
color: #FFA500;

}


.linea_bajo_nom {
  position: relative;
  width: 100%;
  float: left;
  background-color: #999;
  height: 2px;
}
.active .linea_bajo_nom {
  position: relative;
  width: 100%;
  float: left;
background-color: #FFA500;
height: 2px;
}

.cont_text_inputs {
position: relative;
  float: left;
  width: 100%;
  margin-top: 20px;
}


.input_form_sign {
  position: relative;
  float: left;
  width: 90%;
  border: none;
  border-bottom: 1px solid #B0BEC5 ;
  background-color: transparent;
  font-size: 14px;
  outline: none;
  transition: all 0.5s;
    height: 0px;
    margin: 0px;
    padding: 0px;
opacity: 0;
display: none;
}

.active_inp {
  margin: 5% 5% ;
  padding: 10px 0px;
  opacity: 1;
height: 5px;
}


.input_form_sign:focus {
  border-bottom: 1px solid #FFA500 ;}


  .sign_up {
    margin-bottom: 20px;
    margin-left: 90px;
    color: #999;
    font-size: 13px;

  }

  .signup a:hover {
    color: #FFA500;
  }


.link_forgot_pass {
position: relative;
  margin-top: 0px;
  margin-left: 140px;
  text-decoration: none;
  color: #999;
  font-size: 13px;
  display: none;
  float: left;
  transition: all 0.5s;
}
.cont_btn {
  position: relative;
  float: left;
}

.btn_sign {
  background: #FFA500;
  border-radius: 8px;
  padding: 15px 30px;
  border: none;
  color: #fff;
  font-size: 14px;
  position: relative;
  float: left;
  margin-left: 140px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.terms_and_cons {
  width: 70%;
  margin-left: 20px;
  color: #999;
  font-size: 13px;
  transition: all 0.5s;
}

.d_none {
  display: none;
}
.d_block {
  display: block;
}


  .cont_text_inputs > input:nth-child(1){
    transition-delay: 0.2s;
  }

  .cont_text_inputs > input:nth-child(2){
    transition-delay: 0.4s;
  }
  .cont_text_inputs > input:nth-child(3){
    transition-delay: 0.6s;
  }
  .cont_text_inputs > input:nth-child(4){
    transition-delay: 0.8s;
  }

  .cont {
    margin-top: -5%;
    margin-left: 37%;
  }
  .reg {
    min-height: 500px;
    width: 400px;
    margin-top: 20%;
  }


/* End of Modal */
@media (max-width: 575px) {

  .modal-content {
    min-height: 350px;
    width: 100%;
    margin-top: 0%;

  }

  #space {
    margin-top: 30%;
    margin-left: 5%;
  }

  .jumbotron {
      background-image: url("../img/bg2.jpg");
      margin-bottom: 0;
      min-height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: -10px;
  }

  .postcode {
    margin-bottom: 10px;
  }
  .resizedTextBox {
    margin-bottom: 10px;
    width: 80%;
  }

  .pic img{
    width: 105%;
    height: 60%;
    margin-top: 30px;
    margin-bottom: 100px;
  }

  #howWork {
    text-align: center;
  }

  #exploreH3 {
    text-align: center;
  }
 #button1 {
   padding: 10px 15px;
   font-size: 20px;
   border-radius: 1px;
   width:50%;    //Specify your width here
   margin-top: 40px;
   margin-bottom: 10px;
   margin-left: 70px;
 }

 #button2 {
   padding: 10px 15px;
   font-size: 20px;
   border-radius: 1px;
   width:50%;    //Specify your width here
   margin-top: 40px;
   margin-bottom: 10px;
   margin-left: 80px;
   text-align: center;
 }

 #register{
   height: 50px;
   padding-left: 20%;
   text-align: center;
 }

 .btn.btn-outline-success{
   margin-left: 30%;
   margin-bottom: 50px;
   padding: 10px 15px;
   font-size: 20px;
   border-radius: 1px;
   width:40%;    //Specify your width here
 }

 .cont {
   margin-top: 0%;
   margin-left:6%;
 }
 .reg {
   min-height: 500px;
   width: 350px;
   margin-top: 5%;
 }

 .register {
   height: 900px;
 }

 .btn_sign {
   background: #FFA500;
   border-radius: 8px;
   padding: 15px 30px;
   border: none;
   color: #fff;
   font-size: 14px;
   position: relative;
   float: left;
   margin-left: 130px;
   margin-top: 20px;
   margin-bottom: 20px;
   cursor: pointer;
 }


 body{
   height: 500px;
 }


}
